
@{
    ViewData["Title"] = "Pre";
}
@if (ViewBag.CharId != null)
{
    @section og {
        <meta property="og:url" content="mysite/mini-test/?charId=@(ViewBag.CharId)" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Who are you in the Marvel" />
        <meta property="og:description" content="Let's see who are you the Marvel Universe" />
        <meta property="og:image" content="mysite/mini-test/images/sharing/@(ViewBag.CharId).png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
    }
}

<div class="interview-container pre">
    <div class="status-container w">

    </div>
    <div class="question-container w">
        <div class="question-title bold-text w">
            Who are you in the Marvel Universe?
        </div>
        <div class="answer-container">
            Mini survey.
        </div>
        <div class="answer-button-container w">
            <a href="/interview" class="answer-button p">
                Start
            </a>
        </div>
    </div>
    <div class="logo-container">
        <div class="logo">
        </div>
    </div>
</div>

@section scripts {
    <script>
        sessionStorage.interviewId = -1;
    </script>
}